#contact {
    background-color:rgb(9, 9, 9);
    opacity: .9;
    width: 50%;
    height: 50%;
    top: 30%;
    bottom: 30px;
    margin-left: 23%;
    margin-right: 57%;
    z-index: 25;
    position: fixed;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #f7e27b;
    -moz-box-shadow: 0px 0px 8px #f7e27b;
    -webkit-box-shadow: 0px 0px 8px #f7e27b;
}
